body {
    font-family:'Segoe UI';
}

h1  {
    text-align:center;
    color:#696969;
}

h2 {
    text-align:center;
    color:#696969;
}

h3 {
    text-align:center;
    color:#696969;
}

h6 {
    text-align:center;
}

.deletedRecipe {
    color:red;
    font-style:italic;
}