body {
    font-family:'Segoe UI';
    background-color:#D2B48C;
    align-content:center;
}

h1  {
    text-align:center;
    color:#696969;
}

h2 {
    text-align:center;
    color:#696969;
}

h3 {
    text-align:center;
    color:#696969;
}

h6 {
    text-align:center;
    color:#696969;
}

 .button {
    display:block; 
    width:20%; 
    margin:0 auto; 
    position:relative;
    font-style:normal;
    font-weight:bold;
    font-family:"Segoe UI";
    font-size:14px;
    outline:none;
    color:black;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color:#F08080;
    border-bottom:1px solid #696969;
    top: 6px;
    left: -99px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

.deletedRecipe {
    color:red;
    font-style:italic;
}

a.hyp {
    text-decoration: none;
}

td.column1 {
    text-align:right;
    width:200px;
    vertical-align:central;
    padding-right:5px;
    color:#696969;
    font-family:'Segoe UI';
}

td.column2 {
    text-align:left;
    width:300px;
    padding-left:5px;
    font-family:'Segoe UI';
}

td.column3 {
    text-align:right;
    width:200px;
    vertical-align:top;
    padding-right:5px;
    color:#696969;
    font-family:'Segoe UI';
}

.validationError {
    color:red;
    font-weight:bold;
    text-align:left;
    font-family:'Segoe UI';
}